Base de datos en Python

#100DaysPython Dia 2

In [1]:
# Crear base de datos

In [3]:
import sqlite3

#usamos modulo sqlite , metodo connect para conectar base de datos si ya existe o lo crea si no existe.

conexion = sqlite3.connect("basededatos1.db")

#cerrando la conexion
conexion.close()

In [4]:
# Crear tabla

In [8]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()
#metodo execute se utiliza para crear una tabla CREATE TABLE
cursor.execute("CREATE TABLE PERSONAS (nombre TEXT, apellido1 TEXT, apellido2 TEXT, edad INTEGER)")

conexion.commit()

conexion.close()

In [9]:
# Insertar filas dentro de la base de datos

In [10]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()

cursor.execute("INSERT INTO PERSONAS VALUES('Israel','Ubeda','Bravo',33)")

conexion.commit()

conexion.close()

In [11]:
# Insertar varios registros a la base de datos

In [12]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()
#creamos una variable con los registros a incluir

lista_personas = [('Ambar','Ubeda','Meneses',10),('Lucas','Ubeda','Meneses',2),('Juan','Perez','Lopez',80)]

#metodo executemany para insertar varios registros , como parametro para el metodo utilizamos la lista
cursor.executemany("INSERT INTO PERSONAS VALUES (?,?,?,?)",lista_personas)

conexion.commit()

conexion.close()

In [13]:
# Consultar datos

In [14]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()

cursor.execute("SELECT * FROM PERSONAS")

#el metodo fetchall recoge la consulta anterior al execute,recogera todos los resultados de la tabla personas
personas =cursor.fetchall()

for persona in personas:
    print(persona)

conexion.close()

('Israel', 'Ubeda', 'Bravo', 33)
('Ambar', 'Ubeda', 'Meneses', 10)
('Lucas', 'Ubeda', 'Meneses', 2)
('Juan', 'Perez', 'Lopez', 80)

In [15]:
# Consultar datos utilizando condiciones

In [16]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()

cursor.execute("SELECT * FROM PERSONAS WHERE edad > 30")

#el metodo fetchall recoge la consulta anterior al execute,recogera todos los resultados de la tabla personas
personas_selec =cursor.fetchall()

for persona in personas_selec:
    print(persona)

conexion.close()

('Israel', 'Ubeda', 'Bravo', 33)
('Juan', 'Perez', 'Lopez', 80)

In [17]:
# Consultar y ordenar datos base de datos

In [18]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()

cursor.execute("SELECT * FROM PERSONAS ORDER BY edad")

#el metodo fetchall recoge la consulta anterior al execute,recogera todos los resultados de la tabla personas
personas_selec_orde =cursor.fetchall()

for persona in personas_selec_orde:
    print(persona)

conexion.close()

('Lucas', 'Ubeda', 'Meneses', 2)
('Ambar', 'Ubeda', 'Meneses', 10)
('Israel', 'Ubeda', 'Bravo', 33)
('Juan', 'Perez', 'Lopez', 80)

In [19]:
# Borrar datos base de datos

In [20]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()

cursor.execute("DELETE FROM PERSONAS WHERE edad = 80")

conexion.commit()

conexion.close()

In [21]:
# Actualizar datos base de datos

In [22]:
import sqlite3

conexion = sqlite3.connect("basededatos1.db")
#se utiliza el metodo cursor para ejecutar sentencias SQL dentro de la base de datos
cursor = conexion.cursor()

cursor.execute("UPDATE PERSONAS SET edad = 8 WHERE nombre ='Ambar'")

conexion.commit()
conexion.close()